<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd"
          xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <server>
        <id>artifactory</id>
        <configuration>
            <httpHeaders>
                <property>
                    <name>Authorization</name>
                    <value>%s</value>
                </property>
            </httpHeaders>
        </configuration>
    </server>
    <mirrors>
        <mirror>
            <id>artifactory</id>
            <url>%s</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
</settings>