name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    env:
      GOPROXY: direct
      JFROG_CLI_LOG_LEVEL: DEBUG
      GRADLE_OPTS: -Dorg.gradle.daemon=false
    steps:
      - uses: actions/checkout@v1
      - name: Setup Go
        uses: actions/setup-go@v2
      - name: Lint
        run: go vet ./...
      - name: Tests on Linux
        run: M2_HOME=/usr/share/apache-maven-3.8.1 go test -v github.com/jfrog/jfrog-cli-core/tests -timeout 0
        if: matrix.os == 'ubuntu-latest'
      - name: Tests on Windows
        run: go test -v github.com/jfrog/jfrog-cli-core/tests -timeout 0
        if: matrix.os == 'windows-latest'
      - name: Tests on MacOS
        run: M2_HOME=/usr/local/Cellar/maven/3.8.1/libexec go test -v github.com/jfrog/jfrog-cli-core/tests -timeout 0
        if: matrix.os == 'macOS-latest'