name: JFrog CLI Core Tests
on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
  pull_request:
jobs:
  test:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu, windows, macos ]
    env:
      GOPROXY: direct
      GRADLE_OPTS: -Dorg.gradle.daemon=false
      JFROG_CLI_LOG_LEVEL: "DEBUG"
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python3
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"
        
      - name: Install pipenv & poetry
        run: python -m pip install pipenv poetry

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.20.x

      - name: Install NuGet
        uses: nuget/setup-nuget@v1
        with:
          nuget-version: 6.x

      - name: Install dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '6.x'

      - name: Install Yarn
        run: corepack prepare yarn@stable --activate

      - name: Go Cache
        uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Tests
        run: go test -v github.com/jfrog/jfrog-cli-core/v2/tests -timeout 0 -race
