name: JFrog CLI Core Tests
on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
  pull_request:
jobs:
  test:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu, windows, macos ]
    env:
      GOPROXY: direct
      GRADLE_OPTS: -Dorg.gradle.daemon=false
      JFROG_CLI_LOG_LEVEL: "DEBUG"
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python3
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
        
      - name: Install pipenv & poetry
        run: python -m pip install pipenv poetry

      - name: Install NuGet
        uses: nuget/setup-nuget@v2
        with:
          nuget-version: 6.x

      - name: Install dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '6.x'

      - name: Setup Go with cache
        uses: jfrog/.github/.github/actions/install-go-with-cache

      - name: Tests
        run: go test -v github.com/jfrog/jfrog-cli-core/v2/tests -timeout 0 -race
