name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    env:
      GOPROXY: direct
      GRADLE_OPTS: -Dorg.gradle.daemon=false
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - name: Setup Go
        uses: actions/setup-go@v2
      - name: Lint
        run: go vet ./...
      - name: Tests
        run: go test -v github.com/jfrog/jfrog-cli-core/v2/tests -timeout 0
